*{

    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


.first {

    width: 200px;
    height: 200px;
    border: none;
    background-color: red;
}

.second {

    width: 200px;
    height: 200px;
    border: none;
    background-color: green;
}

.third {

    width: 200px;
    height: 200px;
    border: none;
    background-color: blue;
}

.fourth {

    width: 200px;
    height: 200px;
    border: none;
    background-color: black;
}

.my {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}